$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-cross: "\e900";
$icon-chevron-down: "\e901";
$icon-chevron-right: "\e902";
$icon-done: "\e28a";
$icon-print: "\e2c1";

