// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yeogurt-info {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.version {
    font-size: 14px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.logo {
    margin-top: 15px;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

html {
    box-sizing: border-box;
}

body {
    font: 16px/1.375 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0 !important;

    @include tablet {
        font-family: 'HelveticaNeue';
    }
}

h1, h2, h3, h4, h5, h6,
address {
    word-break: break-word;
    line-height: 1;
}

h1 {
    font-size: em(48);
    line-height: 1.05em;
}

h2 {
    font-size: em(36);
    line-height: 1.25;
}

h3 {
    font-size: em(28);
    line-height: 1.25em;
}

h4 {
    font-size: em(18);
    line-height: 1.222222em;
}

h5 {
    font-size: em(17);
    font-style: italic;
}

h6 {
    font-size: em(16);
    font-style: italic;
}

blockquote {
    font-size: em(24);
    line-height: 1.458333em;
}

menu, ol, ul {
    margin-bottom: 20px;
    padding: 0 0 0 40px;
}

ol, ul {
    margin: auto;
}

table {
    background-color: transparent;
    border: 1px solid $grey;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;

    tr {
        background-color: #efefef;
    }

    tr:nth-child(even) {
        background-color: darken(#efefef, 5%);
    }

    th, td {
        border: 1px solid #fff;
        padding: 5px 10px;
        vertical-align: top;
    }

    th {
        background: #757575;
        font-size: em(20);
        color: $white;
        text-align: left;
    }
}
